body{
    margin: 0;
    background-color: rgb(63, 60, 60);
}

body *{
    border: 1px solid red;
}

@font-face{
    src: url("/fonts/EastBroadway\ CondensedBold.otf");
    font-family: 'Fonte-Genius';
}

.titulo-jogo{
    text-align: center;
    font-family: Fonte-Genius;
    letter-spacing: 2px;
    color: white;
}

.cabecalho h1{
    font-size: 6em;
}

#circulo-externo{
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: black;
}

#circulo-interno{
    position: absolute;
    border-radius: 50%;
    width: 40%;
    height: 40%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: black;
}

#circulo-interno button {
    all: unset;
    text-align: center;
    cursor: pointer;
}

#circulo-interno button img {
    width: 20%;
    height: auto;
}

.botao{
    position: absolute;
    width: 44%;
    height: 44%;
}

.top-left{
    border-top-left-radius: 100%;
    top: 4%;
    left: 4%;
    background-color: rgb(74, 216, 74);
}

.top-right{
    border-top-right-radius: 100%;
    top: 4%;
    right: 4%;
    background-color: red;
}

.bottom-left{
    border-bottom-left-radius: 100%;
    bottom: 4%;
    left: 4%;
    background-color: yellow;
}

.bottom-right{
    border-bottom-right-radius: 100%;
    bottom: 4%;
    right: 4%;
    background-color: rgb(71, 140, 218);
}

.rodape{
    font-size: 2em;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}